<div class="container">

<h1 style="font-weight: bold;">About Us</h1>
<div class ="divider"></div>
<div class="feature_divider"></div>
<p>Nymph Bets was created as a way to allow sports enthusiasts to put there wits to the the test while
  making money. At Nymph, we strive to provide real time updates so that our users can always place bets.
</p>
<div class="feature_divider"></div>
<h1 style="font-weight: bold;">Locations</h1>
<div class ="divider"></div>
<div class="feature_divider"></div>
<p>We are run from Puerto Rico, where our team of admins manages the site. </p>
<div id="map" style="width:100%;height:600px;"></div>
</div>


  <script>
  function initMap() {
    var myLatLng = {lat: 18.2, lng: -66.59};

       var map = new google.maps.Map(document.getElementById('map'), {
         zoom: 7,
         center: myLatLng,
         key: 'AIzaSyBJXvZUezUeYEe7PeIEpi0RRO3NUKw6oTY',
       });

       var marker = new google.maps.Marker({
         position: myLatLng,
         map: map,
         title: 'Nymph Hq',
         key: 'AIzaSyBJXvZUezUeYEe7PeIEpi0RRO3NUKw6oTY',
       });
  }

  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJXvZUezUeYEe7PeIEpi0RRO3NUKw6oTY&callback=initMap">
  </script>
