<div class="container">
  {{#if messages.success}}
  <div class="feature_divider"></div>
  <div class="flash pill pill-text" id="SuccessAlert">
  {{messages.success}}
  </div>
  {{/if}}
  {{#if messages.danger}}
  <div class="feature_divider"></div>
  <div class="flash pill pill-text" id="FailAlert">
  {{messages.danger}}
  </div>
  {{/if}}
<h1 style="font-weight: bold;">Admin Sign Up</h1>
<div class ="divider"></div>
<div class="feature_divider"></div>
<p>Please fill out the form. Keep in mind that an admin will have to approve your sign up before you gain admin access.</p>
<form class="needs-validation" action="/AdminSignUp" method="post" novalidate>
  <div class="form-group">
    <label for="ContactName">Name</label>
    <input type="text" class="form-control" id="ContactName" name="ContactName" placeholder="Full Name" required>
    <div class="invalid-feedback">
        Please provide a name.
      </div>
  </div>
  <div class="form-group">
   <label for="ContactEmail">Email</label>
   <input type="email" class="form-control" id="ContactEmail" name="ContactEmail" placeholder="Email Address" required>
   <div class="invalid-feedback">
       Please provide a username.
     </div>
 </div>
 <div class="form-group">
  <label for="Username">Username</label>
  <input type="text" class="form-control" id="Username" name="Username" placeholder="Username" required>
  <div class="invalid-feedback">
      Please provide a username.
    </div>
</div>
 <div class="form-group">
  <label for="Password">Password</label>
  <input type="password" class="form-control" id="Password" name="Password" placeholder="Password" required>
  <div class="invalid-feedback">
      Please provide a password.
    </div>
</div>


  <button class="btn btn-secondary" type="submit" class="btn btn-primary">Sign Up</button>
  <div class="feature_divider"></div>
</form>

</div>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
  setTimeout(function(){
    var updateAlert = document.getElementById("SuccessAlert");
    updateAlert.style.display = "none";
  }, 5000);
  setTimeout(function(){
    var updateAlert = document.getElementById("FailAlert");
    updateAlert.style.display = "none";
  }, 5000);
 });

// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
