<div class=" col-md-2">
  <ul class="nav nav-pills nav-stacked scrolling">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/AboutUs">AboutUs</a>
    </li><li class="nav-item">
      <a class="nav-link" href="/ContactUs">ContactUs</a>
    </li>
  </ul>
  </div>
  <div class="container">
    <h1 style="font-weight: bold;">Store</h1>
    <div class ="divider"></div>
    <div class="feature_divider"></div>
  </br>

    <h2 style="text-align: center">Collections
    </h2>
    <div class="row">
      <div class="h2-divider-right"></div>

      <div class="h2-divider-left"></div>
    </div>
    <i class="fas fa-angle-down fa-3x" style="position:relative; left: 49%;"></i>
    <div class="feature_divider"></div>
    <ul>
      <li>Maple Bowl
        <ul>
        <li>8 inch diameter</li>
        <li>6 inch diameter</li>
      </ul>
      </li>
      <li>Small Koa Hollow Form
        <ul>
        <li>5 inch diameter</li>
      </ul>
      </li>
      <li>Maple Yarn Bowl
        <ul>
        <li>6.5 inch diameter</li>
      </ul>
      </li>
      <li>Walnut Bowl Set
        <ul>
        <li>2 9 inch diameter bowls</li>
        <li>1 4 inch diameter</li>
      </ul>
      </li>
      <li>Koa Hollow Form
        <ul>
        <li>7.5 inch diameter</li>
      </ul>
      </li>
    </ul>

<a class="btn btn-secondary" href="/CustomOrderInstructions" role="button">Download Custom Order</a>
  </div>
